<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EnxameTech</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="/css/dashbord-home.css" />
  <link rel="stylesheet" type="text/css" href="/css/cadastar-alunos.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <nav class="sidebar">
    <div class="logo">
      <ul class="menu">
        <li>
          <a th:href="@{/dashboard}" title="Dashboard">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard </span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-alunos}" title="Alunos">
            <i class="fas fa-user"></i>
            <span>Alunos</span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-voluntarios}" title="Voluntários">
            <i class="fa-solid fa-person-chalkboard"></i>
            <span>Voluntários</span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-admin}" title="Administradores">
            <i class="fa-regular fa-address-card"></i>
            <span>Administradores</span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-cursos}" title="Cursos">
            <i class="fas fa-book"></i>
            <span>Cursos</span>
          </a>
        </li>
        <li class="logout">
          <a th:href="@{/}" title="Sair">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main--content">
    <div class="header--wrapper">
      <div class="header--title">
        <h2>EnxameTech</h2>
      </div>
      <div class="user--info">
        <div class="searh--box">
          <i class="fa-solid fa-search"></i>
          <input type="text" placeholder="Search" />
        </div>
        <img src="/img/author.jpg" alt="foto de  uma pessoa" />
      </div>
    </div>

    <div class="section--container">
      <h3 class="main--title">Editar Informações do Curso</h3>
      <div class="card">
        <form id="form">
          <div class="form-step form-step-active row">
            <div class="row">
              <div class="form-group col-6">
                <label for="titulo">Título</label>
                <input
                  type="text"
                  id="titulo"
                  name="titulo"
                  class="inputs required"
                />
                <span class="span-required">Campo obrigatório</span>
              </div>
              <div class="form-group col-6">
                <label for="nome_empresa">Empresa</label>
                <input
                  type="text"
                  id="nome_empresa"
                  name="nome_empresa"
                  class="inputs required"
                />
                <span class="span-required">Campo obrigatório</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="dataFinal_inscricao">Inscrições até</label>
                <input
                  type="date"
                  id="dataFinal_inscricao"
                  name="dataFinal_inscricao"
                  class="inputs required"
                />
                <span class="span-required">Campo obrigatório</span>
              </div>
              <div class="form-group col-8">
                <label for="descricao">Descrição</label>
                <input
                  type="text"
                  id="descricao"
                  name="descricao"
                  class="inputs required"
                />
                <span class="span-required">Campo obrigatório</span>
              </div>
            </div>

            <div class="row justify-content-center">
              <button
                id="btnAtualizar"
                type="submit"
                class="btn col-3 cadastro"
              >
                Atualizar
              </button>
            </div>
          </div>
        </form>
      </div>
      <footer class="footer">
        <div class="container">
          <p>&copy; 2023 Enxame Tech</p>
        </div>
      </footer>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      let urlParams = new URLSearchParams(window.location.search);
      let id = urlParams.get("id");

      if (id) {
        carregarDados(id);
      }

      document
        .getElementById("btnAtualizar")
        .addEventListener("click", function (event) {
          event.preventDefault();
          atualizar();
        });
    });

    function carregarDados(id) {
      axios
        .get("/curso/detalhar/" + id)
        .then(function (response) {
          preencherForm(response.data);
        })
        .catch(function (error) {
          console.error("Erro ao obter dados do curso:", error);
        });
    }

    function preencherForm(curso) {
      // Informações do curso
      document.getElementById("titulo").value = curso.titulo;
      document.getElementById("descricao").value = curso.descricao;
      document.getElementById("nome_empresa").value = curso.nome_empresa;
      document.getElementById("dataFinal_inscricao").value =
        curso.dataFinal_inscricao;
    }

    function atualizar() {
      let urlParams = new URLSearchParams(window.location.search);
      let id = urlParams.get("id");
      console.log(id);

      try {
        const formDataArray = $("#form").serializeArray();

        const formData = {};
        formDataArray.forEach((item) => {
          formData[item.name] = item.value;
        });

        console.log(formData);
        axios
          .put("/curso/atualizar/" + id, formData)
          .then(() => {
            alert("Curso atualizado com sucesso.");
            window.location.href = "/listar-cursos";
          })
          .catch((error) => {
            alert("Erro ao atualizar curso: " + error.message);
          });
      } catch (error) {
        alert("Erro ao atualizar curso:", error);
      }
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
  <!--<script src="/js/input-validation-cadastar-aluno.js"></script>-->
  <script src="/js/cadastra-alunos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
