<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar Curso Favorito</title>
  </head>
  <body>
    <h2>Adicionar Curso Favorito</h2>

    <div th:if="${erro}" class="alert alert-danger" role="alert">
      <p th:text="${erro}"></p>
    </div>

    <form
      th:action="@{'/aluno/' + ${aluno.id} + '/salvar-curso-favorito'}"
      method="post"
    >
      <div>
        <label for="cursoFavoritoId">Selecione o Curso:</label>
        <select id="cursoFavoritoId" name="cursoFavoritoId">
          <option
            th:each="curso : ${cursosDisponiveis}"
            th:value="${curso.id}"
            th:text="${curso.titulo}"
          ></option>
        </select>
      </div>
      <div>
        <button type="submit">Adicionar Curso Favorito</button>
      </div>
    </form>
  </body>
</html>
