<!DOCTYPE html>
<html>
  <head>
    <title>Cursos Favoritos</title>
  </head>
  <body>
    <h2>Lista de Cursos Favoritos</h2>

    <div th:if="${erro}" class="alert alert-danger" role="alert">
      <p th:text="${erro}"></p>
    </div>

    <table>
      <tr>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
      <tr th:each="cursoFavorito : ${aluno.cursoFavoritos}">
        <td th:text="${cursoFavorito.curso.titulo}"></td>
        <td>
          <a
            th:href="@{'/aluno/' + ${aluno.id} + '/remover-curso-favorito/' + ${cursoFavorito.id}}"
            >Remover</a
          >
        </td>
      </tr>
    </table>


  </body>
</html>
