<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EnxameTech</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" href="/css/dashbord-home.css" />
  <link rel="stylesheet" type="text/css" href="/css/cadastar-alunos.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <nav class="sidebar">
    <div class="logo">
      <ul class="menu">
        <li>
          <a th:href="@{/dashboard}" title="Dashboard">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard </span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-alunos}" title="Alunos">
            <i class="fas fa-user"></i>
            <span>Alunos</span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-voluntarios}" title="Voluntários">
            <i class="fa-solid fa-person-chalkboard"></i>
            <span>Voluntários</span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-admin}" title="Administradores">
            <i class="fa-regular fa-address-card"></i>
            <span>Administradores</span>
          </a>
        </li>
        <li>
          <a th:href="@{/listar-cursos}" title="Cursos">
            <i class="fas fa-book"></i>
            <span>Cursos</span>
          </a>
        </li>
        <li class="logout">
          <a th:href="@{/}" title="Sair">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main--content">
    <div class="header--wrapper">
      <div class="header--title">
        <h2>EnxameTech</h2>
      </div>
      <div class="user--info">
        <div class="searh--box">
          <i class="fa-solid fa-search"></i>
          <input type="text" placeholder="Search" />
        </div>
        <img src="/img/author.jpg" alt="foto de  uma pessoa" />
      </div>
    </div>

    <div class="section--container">
        <h3 class="main--title">Agendar Monitoria</h3>
        <div class="card">
            <form id="form">
                <div class="form-step  form-step-active row ">
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="nome_completo">Aluno</label>
                            <input disabled type="text" id="nome_completo" name="nome_completo">
                        </div>
                        <div class="form-group col-4">
                            <label for="data_monitoria">Data</label>
                            <input type="date" id="data_monitoria" name="data_monitoria" class="inputs required">
                            <span class="span-required">Campo obrigátorio</span>
                        </div>
                        <div class="form-group col-4">
                            <label for="horario">Horário</label>
                            <input type="time" id="horario" name="horario" class="inputs required">
                            <span class="span-required">Campo obrigátorio</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-8">
                            <label for="descricao_duvida">Dúvida</label>
                            <input type="text" id="descricao_duvida" name="descricao_duvida" class="inputs required">
                            <span class="span-required">Campo obrigatório</span>
                        </div>
                        <div class="form-group col-4">
                            <label for="voluntario">Voluntário</label>
                            <select id="voluntario" name="voluntario" class="input">
                                <option th:each="voluntario : ${voluntarios}" th:text="${voluntario.getNome_completo()}"
                                        th:value="${voluntario.id}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <button type="button" class="btn col-3 cadastro" onclick="agendar()">Agendar
                        </button>
                    </div>

            <a href="./listar-cursos.html"></a>
          </div>
        </form>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2023 Enxame Tech</p>
      </div>
    </footer>
  </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        let urlParams = new URLSearchParams(window.location.search);
        let id = parseInt(urlParams.get("id"));

        if (id) {
            carregarDados(id);
        }
    });

    function carregarDados(id) {
        axios.get("/aluno/detalhar/" + id)
            .then(function (response) {
                preencher(response.data);
            })
            .catch(function (error) {
                console.error("Erro ao obter dados do aluno:", error);
            });
    }

    function preencher(aluno) {
        document.getElementById("nome_completo").value = aluno.nome_completo;
    }

    async function agendar() {
        let urlParams = new URLSearchParams(window.location.search);
        let id = parseInt(urlParams.get("id"));

        try {
            const formDataArray = $("#form").serializeArray();

            const formData = {};
            formDataArray.forEach((item) => {
                formData[item.name] = item.value;
            });

            axios.post("/aluno/"+ id + "/agendar-monitoria", formData);
            alert("Monitoria agendada com sucesso!");
            window.location.href = `/aluno/listar-monitorias?id=${id}`;
        } catch (error) {
            alert("Erro ao cadastrar: " + error.response.data);
        }
    }


</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script src="/js/input-validation-cadastar-aluno.js"></script>
<script src="/js/cadastra-alunos.js"></script>
<script src="/js/maskInput.js"></script>
<script src="/js/apiCep.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>