<!DOCTYPE html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnxameTech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/dashbord-home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cadastar-alunos.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>
<nav class="sidebar">
    <div class="logo">
        <ul class="menu">
            <li>
                <a th:href="@{/dashboard}" title="Dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard </span>
                </a>
            </li>
            <li>
                <a th:href="@{/listar-alunos}" title="Alunos">
                    <i class="fas fa-user"></i>
                    <span>Alunos</span>
                </a>
            </li>
            <li>
                <a th:href="@{/listar-voluntarios}" title="Voluntários">
                    <i class="fa-solid fa-person-chalkboard"></i>
                    <span>Voluntários</span>
                </a>
            </li>
            <li>
                <a th:href="@{/listar-admin}" title="Administradores">
                    <i class="fa-regular fa-address-card"></i>
                    <span>Administradores</span>
                </a>
            </li>
            <li>
                <a th:href="@{/listar-cursos}" title="Cursos">
                    <i class="fas fa-book"></i>
                    <span>Cursos</span>
                </a>
            </li>
            <li class="logout">
                <a th:href="@{/}" title="Sair">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>EnxameTech</h2>
        </div>
        <div class="user--info">
            <div class="searh--box">
                <i class="fa-solid fa-search"></i>
                <input type="text" placeholder="Search"/>
            </div>
            <img src="/img/author.jpg" alt="foto de  uma pessoa"/>
        </div>
    </div>

    <div class="section--container">
        <h3 class="main--title">Dados do Aluno</h3>
        <div class="row">
            <h5 id="nome_completo"></h5>
            <div class="form-group col-4">
                <label for="cpf">CPF</label>
                <input disabled id="cpf" >
            </div>
            <div class="form-group col-4">
                <label for="email">E-mail</label>
                <input disabled id="email" >
            </div>
            <div class="form-group col-4">
                <label for="genero">Gênero</label>
                <input disabled id="genero">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label for="data_nascimento">Data de Nascimento</label>
                <input disabled type="date" id="data_nascimento">
                <span class="span-required">Campo obrigátorio</span>
            </div>
            <div class="form-group col-4">
                <label for="cidade">Cidade</label>
                <input disabled id="cidade" >
            </div>
            <div class="form-group col-4">
                <label for="uf">UF</label>
                <input disabled id="uf" >
            </div>
        </div>
        <div class="row gap-3 justify-content-end mt-5">
            <a id="linkAgendarMonitoria" class="col-2 btn btn-success ">
                Agendar Monitoria
            </a>
            <a id="linkListarMonitorias" class="col-2 btn btn-secondary">
                Monitorias Agendadas
            </a>
            <a class="col-2 btn btn-primary">
                Favoritar Cursos
            </a>
            <a  class="col-2 btn btn-dark">
                Cursos Favoritos
            </a>
        </div>

        <footer class="footer">
            <div class="container">
                <p>&copy; 2023 Seu Nome ou Nome da Empresa</p>
            </div>
        </footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    let urlParams = new URLSearchParams(window.location.search);
    let id = urlParams.get("id");

    document.addEventListener("DOMContentLoaded", function () {
        if (id) {
            carregarDados(id);
        }

        let linkAgendarMonitoria = document.getElementById("linkAgendarMonitoria");
        linkAgendarMonitoria.addEventListener("click", function () {
            window.location.href = "/monitoria?id=" + id;
        });


        let linkListarMonitorias = document.getElementById("linkListarMonitorias");
        linkListarMonitorias.addEventListener("click", function () {
            window.location.href = "/listar-monitorias?id=" + id;
        });
    });

    function carregarDados(id) {
        axios.get("/aluno/detalhar/" + id)
            .then(function (response) {
                preencher(response.data);
            })
            .catch(function (error) {
                console.error("Erro ao obter dados do aluno:", error);
            });
    }

    function preencher(aluno) {
        //dados pessoais
        document.getElementById("cpf").value = aluno.cpf;
        document.getElementById("nome_completo").textContent = aluno.nome_completo;
        document.getElementById("data_nascimento").value = aluno.data_nascimento;
        document.getElementById("email").value = aluno.email;
        document.getElementById("genero").value = aluno.genero;

        //endereço
        document.getElementById("cidade").value = aluno.cidade;
        document.getElementById("uf").value = aluno.uf;
    }

</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<!--<script src="/js/input-validation-cadastar-aluno.js"></script>-->
<script src="/js/cadastra-alunos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>